/* custom----------------------------------------------------- */

/* custom----------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif, Arial;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #121212;
  color: #ffffff;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
}

/* ______________________________________________________ */

/* Navbar------------------------------------------------------- */

.navbar {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.navbar-custom a {
  color: #ffffff !important;
  font-size: 0.9rem;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e62b1e;

  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation:hover {
  color: #ffffff;
}

.navbar-custom button {
  border: 1px solid #e62b1e;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 0.9rem;
  padding: 10px 30px;
}

.navbar-custom button:hover {
  background-color: #e62b1e;
  transition: 0.3s;
}

.btn {
  background-color: transparent;
  border: 0.3px solid #e62b1e;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  color: #e62b1e;
}

.btn::after,
.btn::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: #e62b1e;
}

.btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.btn:hover {
  color: var(--color2);
}

.btn:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

.nav-right-illustration {
  position: absolute;
  right: 0%;
  top: -15.01%;
  transform: rotate(1.99deg);
}

/* illustration01 */
.illustration-left-homepage {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-18%);
  opacity: 1;
}




/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* ___________________________________HOME_PAGE_CONTENT_______________________________________ */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.bottom-right-svg{
  position: absolute;
  right: 5%;
  top: 5%;
  width: 50%!important;
}

.bottom-right-svg2{
  position: absolute;
  left: 0%;
  top: 18%;
  width: 50%!important;
}

.bottom-right-svg3{
  position: absolute;
  left: -3%;
  top: -12%;
  width: 50%!important;
}





.home-page-content{
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
}



.home-page-content h1{
    font-size: 1.5rem;
    font-weight: 200;
}


.home-page-content p{
    font-size: 0.9rem;
    font-weight: 200;
    color: #FFFFFF;
    opacity: 0.6;
    line-height: 150%;
}


.tedx-text{
    color: #E62B1E;
    font-weight: bold;
    font-size: 2rem;
    font-weight: 900;
}



.box-22{
  margin-top: 10%;
}

.box-33{
  margin-top: 10%;
}



.box-11 p{
  position: relative;
  top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  
}

.box-11 h1{
  position: relative;
  top: 10%;
  left: 4%;
}





.box-22 p{
  position: relative;
  top: 15%;  
}

.box-33 p{
  position: relative;
  top: 15%;
  
}


.box-22 h1{
  position: relative;
  top: 15%;
}

.box-33 h1{
  position: relative;
  top: 15%;
  
}

.tedxlogo-para2{
  display: inline;
}

 .box-3-logo{
  display: inline;
margin-left: 1%;
}


.about-side-img{
  border: #e62b1e 2px solid;
}

/* ************************************************************************************************** */
/* __________________________________FAQs_____________________________________________________________ */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */









.FAQS h1{
    font-weight: 700;
    padding-top: 10%;
}




/*  */

.wrapper {
  width: 60%;
}

h1 {
  margin-bottom: 20px;
}

.containers {
  color: white;
  border-radius: 8px;
  
  box-shadow: 0 5px 10px 0 rgb(0,0,0,0.25);
  margin: 20px 0;
  background: linear-gradient(
    180deg,
    rgba(47, 46, 46, 0.44) 0%,
    rgba(50, 50, 50, 0.11) 100%
  );
  backdrop-filter: blur(13px);
}

.question {
  font-size: 1rem;
  font-weight: 600;
  padding: 20px 80px 20px 20px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.question::after {
  content: "\002B";
  font-size: 2.2rem;
  position: absolute;
  right: 20px;
  transition: 0.2s;
  color: #E62B1E;
}

.question.active::after {
  transform: rotate(45deg);
}

.answercont {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.answer {
  padding: 0 20px 10px;
  line-height: 1.5rem;
  font-size: 0.9rem;
  opacity: 0.6;
}



@media screen and (max-width: 790px){
  html {
    font-size: 14px;
  }
  .wrapper {
  width: 80%;
}
}










/*  */


.about-page-illustration{
    position: absolute;
    bottom: 0%;
    left: 25%;
}




  
/*  */
/*________________________________________ Sponser________________________________________________________________ */
/* _____________________________________________________%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */


.sponsers-section{
    margin-top: 10%;
}

.sponsers-section h1 {
    
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #E62B1E; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    color: #FFFFFF;
    font-weight: 300;
    font-size: 1.5rem;

opacity: 0.6;
 } 
 
 .sponsers-section h1 span{ 
     background:#E62B1E; 
     padding:0 10px;
 }





 



/*________________________________________ FOOTER________________________________________________________________ */
/* _____________________________________________________%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

/* Footer-section */

.illustration-footer {
  opacity: 0.87;
  position: absolute;
}

.footer-section {
  color: #ffffff;
  padding-bottom: 8%;
  background: #000000;
}

.footer-section h1 {
  font-size: 2.2rem;
}

.footer-section .nav-link {
  color: #ffffff;
  opacity: 0.6;
  font-size: 0.9rem;
}

.footer-section .box-2 .nav-link {
  display: block;
}


.footer-section .box-2 .youtube-icon-footer:hover {
  color: #ff0000;
}

.footer-section .box-2 .twitter-icon-footer:hover {
  color: #4267b2;
}

.footer-section .box-2 .instagram-icon-footer:hover {
  color: #bc1888;
}

.input-footer input {
  opacity: 0.4;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  background: transparent;
  color: white;
}

.box-3 p{
  opacity: 0.7;
}




/* ******************************************************************************************************************* */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&--------RESPONSIVE-------&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
  /* _____________________________________________________________________________________________________________ */



  @media only screen and (max-width: 480px)
  {

.home-page-content{
  margin-top: 40%;
  
}

.home-page-content .tedx-text{
  font-size: 2.5rem;
}

.home-page-content p{
  font-size: 0.8rem;
}

.home-page-content .box-1{
  padding-bottom: 20%;
}

.home-page-content .box-2{
  padding-bottom: 30%;
}

.home-page-content{
  margin-left: 10%;
  margin-right: 10%;

}

}
