/* __________________________________________________________________________________________________________ */
/*_______________________________________________ RESPONSIVE FOR Mobile SECREENS_______________________________ */
/* _____________________________________________________________________________________________________________ */

@media only screen and (max-width: 480px) {
 

body{
  overflow-x: hidden;
}


  .homepage {

    margin-top: 40%;
    position: relative;
  }

  .hero-pg-text {
    position: relative;
    left: 4%;
    width: 90% !important;
  }

  .homepage .btn {
    border-radius: 8px;
    font-size: 0.8rem;
  width:90%!important;
    padding: 2px 8px!important;
  }

  .homepage .btn-participate {
    background-color: #e62b1e;
    width:90%!important;
    color: #ffffff;
    font-size: 0.9rem;
    border-top-right-radius: 8px 8px !important;
    border-bottom-right-radius: 8px 8px !important;
  }

  /* Done by divyansh */
  .brdrgrp {
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: rgba(230, 43, 30, 0.2);
    width: max-content;
    margin-top: 5px;
    margin-left: 4rem;

    top: 100%;
  }
  .brdrgrp .btn-attandee {
    border-radius: 8px;
    font-size: 0.9rem;
    border: none;
    background-color: #121212;
    border: #e62b1e 1px solid;
    color: #ffffff;
    padding: 10px 30px;
  }
  .brdrgrp .btn-participate2 {
    border-radius: 8px;
    border: none;
    background-color: #121212;
    color: white;
    border: 1px solid #e62b1e;
    font-size: 0.9em;
    padding: 10px 30px;
  }
  .brdrgrp:after {
    position: absolute;
    content: "";
    border-top: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid rgba(230, 43, 30, 0.2);
    border-right: 7px solid transparent;
    right: 24%;
    bottom: 95%;
  }
  .btn-participate:hover + .brdrgrp,
  .brdrgrp:hover {
    display: block;
    animation: cubic-bezier(1, 0, 0, 1) 0.3s;
  }

  .homepage .btn {
    font-size: 0.8rem;
    padding: 8px 3px;
  }

  .homepage .btn-participate {
    background-color: #e62b1e;
    color: #ffffff;
    font-size: 0.8rem;
    border-top-right-radius: 10px 10px !important;
    border-bottom-right-radius: 10px 10px !important;
  }

  .brdrgrp {
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: rgba(230, 43, 30, 0.2);
    width: max-content;
    margin-top: 5px;
    margin-left: 4rem;

    top: 100%;
  }
  .brdrgrp .btn-attandee {
    border-radius: 8px;
    font-size: 0.9rem;
    border: none;
    background-color: #121212;
    border: #e62b1e 1px solid;
    color: #ffffff;
    padding: 10px 30px;
  }
  .brdrgrp .btn-participate2 {
    border-radius: 8px;
    border: none;
    background-color: #121212;
    color: white;
    border: 1px solid #e62b1e;
    font-size: 0.9em;
    padding: 10px 30px;
  }
  .brdrgrp:after {
    position: absolute;
    content: "";
    border-top: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid rgba(230, 43, 30, 0.2);
    border-right: 7px solid transparent;
    right: 24%;
    bottom: 95%;
  }
  .btn-participate:hover + .brdrgrp,
  .brdrgrp:hover {
    display: block;
    animation: cubic-bezier(1, 0, 0, 1) 0.3s;
  }

  .navbar-custom button {
    padding: 10px 20px;
  }








  


  .square {
    background: #121212;
    border:1px #e62b1e solid;
    border-radius: 8px;
    width: 85%;
    
    
  }
  
  #map {
    height: 160px;
    width: 210px;
    border-radius: 8px;
    margin-top: 15%;
  }
  

}
