/* __________________________________________________________________________________________________________ */
/*_______________________________________________ RESPONSIVE FOR Mobile SECREENS_______________________________ */
/* _____________________________________________________________________________________________________________ */

@media only screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }

  .homepage {
    margin-top: 40%;
    position: relative;
  }

  .hero-pg-text {
    position: relative;
    left: 4%;
    width: 90% !important;
  }

  .homepage .btn {
    border-radius: 8px;
    font-size: 0.8rem;

    
  }

  .homepage .btn-participate {
    background-color: #e62b1e;
    color: #ffffff;
    font-size: 0.8rem;
    border-top-right-radius: 8px 8px !important;
    border-bottom-right-radius: 8px 8px !important;
  }

  .navbar-custom button {
    padding: 5px 10px;
  }

  /* speakers */

  .containers {
    display: grid;
    height: 302px;
    margin: auto;
    position: relative;
    width: 95%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }

  .single-team {
    margin-left: 15px;
    margin-right: 15px;
    width: 222px;
    height: 302px;
  }

  .single-team img {
    height: 302px;
    width: 222px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .square {
    background: #121212;
    border: 1px #e62b1e solid;
    border-radius: 8px;
    width: 85%;
  }

  #map {
    height: 160px;
    width: 250;
    border-radius: 8px;
    margin-top: 15%;
  }
}
