/* custom----------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif, Arial;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  height: 200vh;
  color: #ffffff;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}

/* ______________________________________________________ */

/* Navbar------------------------------------------------------- */

.navbar {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.navbar-custom a {
  color: #ffffff !important;
  font-size: 0.9rem;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e62b1e;

  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation:hover {
  color: #ffffff;
}

.navbar-custom button {
  border: 1px solid #e62b1e;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 0.9rem;
}

.navbar-custom button:hover {
  background-color: #e62b1e;
  transition: 0.3s;
}



.btn {
  background-color: transparent;
  border: .3px solid #e62b1e;
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  color: #e62b1e;
 }
 
 .btn::after, .btn::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: #e62b1e;
 }
 
 .btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
 }
 
 .btn:hover {
  color: var(--color2);
 }
 
 .btn:active {
  filter: brightness(.7);
  transform: scale(.98);
 }















.nav-right-illustration {
  position: absolute;
  right: 0%;
  top: -13.01%;
  transform: rotate(1.99deg);
}

/* illustration01 */
.illustration-left-homepage {
  position: absolute;
  left: 0%;
  top: -20%;
  opacity: 1;
  width: 100%;
}

/* Homepage */

.homepage {
  margin-top: 6%;
  position: relative;
  height: 80vh;
}

.homepage p {
  display: inline-block;
  line-height: 120%;
}

.illustration-left-homepage {
  position: absolute;
  left: 0%;
  top: -20%;
  opacity: 1;
  width: 100%;
}

/* SPEAKERS SECTION */

.speakers-section {
  padding-top: 2%;
}

.speakers-section .Introducing-Speakers-heading h1 {
  font-weight: 700;
  margin-top: -1%;
}

/* ***************************************************************************************** */
/*___________________________________________________ CAROSUEL_____________________________________________ */
/* ************************************************************************************************ */
.card {
  margin-top: 30%;
  background: linear-gradient(
    180deg,
    rgba(47, 46, 46, 0.44) 0%,
    rgba(50, 50, 50, 0.11) 100%
  );
  backdrop-filter: blur(13px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 23px;
}

.speakers-section .card-title h1 {
  font-weight: 700;
  font-size: 1rem;
}

.card-text {
  opacity: 0.6;
  font-size: 0.8rem;
}

.speakers-section .bi {
  font-size: 1rem;
}

/* Icons */

.bi-facebook:hover {
  color: #4267b2;
  transform: scale(1.5);
}

.bi-twitter:hover {
  color: #00acee;
}

.bi-youtube:hover {
  color: #ff0000;
}

.bi-instagram:hover {
  color: #bc1888;
}

/* ___________________________________%%   About-section %%__________________________________________ */
/* __________________________________________________________________________________________________________ */

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

/* 
.about-section .bg-image{
    position: absolute;
    left: 50%;;
} */

.about-section {
  margin-top: 10%;
}

.about-section .heading p {
  margin-bottom: 4px;
}

.about-section-content p {
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 120%;
  color: #ffffff;
  opacity: 0.6;
}

/*  */
/*________________________________________ Sponser________________________________________________________________ */
/* _____________________________________________________%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.sponsers-section {
  margin-top: 10%;
}

.sponsers-section h1 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e62b1e;
  line-height: 0.1em;
  margin: 10px 0 20px;
  color: #ffffff;
  font-weight: 300;
  font-size: 1.5rem;

  opacity: 0.6;
}

.sponsers-section h1 span {
  background: #e62b1e;
  padding: 0 10px;
}

/*________________________________________ MAP&REGISTRATion________________________________________________________________ */
/* _____________________________________________________%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
.map-registration {
  padding-top: 10%;
}

.map-registration button {
  color: #ffffff;
  border-radius: 12px;
  width: 80%;
  font-weight: 100;
  font-size: 0.9rem;
}


.map-registration .btn-custom2 {
  outline: #e62b1e;
  background: transparent;
}


.map-registration p {
  font-weight: 700;
  font-size: 2rem;
}

.square {
  margin-left: 12%;
  height: 100px;
  width: 200px;
  background: #7b302a;
  opacity: 0.4;
  border-radius: 23px;
}

#map {
  height: 300px;
  width: 600px;
  border-radius: 10px;
}

/*________________________________________ FOOTER________________________________________________________________ */
/* _____________________________________________________%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

/* Footer-section */

.illustration-footer {
  opacity: 0.87;
  position: absolute;
}

.footer-section {
  color: #ffffff;
  padding-bottom: 8%;
  background: #000000;
}

.footer-section h1 {
  font-size: 2.2rem;
}

.footer-section .nav-link {
  color: #ffffff;
  opacity: 0.6;
  font-size: 0.9rem;
}

.footer-section .box-2 .nav-link {
  display: block;
}

.footer-section .box-2 .facebook-icon-footer:hover {
  color: #4267b2;
}

.footer-section .box-2 .youtube-icon-footer:hover {
  color: #ff0000;
}

.footer-section .box-2 .twitter-icon-footer:hover {
  color: #00acee;
}

.footer-section .box-2 .instagram-icon-footer:hover {
  color: #bc1888;
}

.input-footer input {
  opacity: 0.4;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  background: transparent;
  color: white;
}

button {
  border-radius: 8px;
  font-family: inherit;
  font-size: 0.9rem;
  background: #e62b1e;
  color: white;
  padding: 0.5em 1em;
  padding-left: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
 }
 
 button span {
  display: block;
  margin-left: 0.3em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
 }
 
 button svg {
  display: block;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
 }
 
 button:hover .svg-wrapper {
  -webkit-animation: fly-1 0.6s ease-in-out infinite alternate;
          animation: fly-1 0.6s ease-in-out infinite alternate;
 }
 
 button:hover svg {
  -webkit-transform: translateX(1.2em) rotate(45deg) scale(1.1);
      -ms-transform: translateX(1.2em) rotate(45deg) scale(1.1);
          transform: translateX(1.2em) rotate(45deg) scale(1.1);
 }
 
 button:hover span {
  -webkit-transform: translateX(5em);
      -ms-transform: translateX(5em);
          transform: translateX(5em);
 }
 
 button:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
 }
 
 @-webkit-keyframes fly-1 {
  from {
   -webkit-transform: translateY(0.1em);
           transform: translateY(0.1em);
  }
 
  to {
   -webkit-transform: translateY(-0.1em);
           transform: translateY(-0.1em);
  }
 }
 
 @keyframes fly-1 {
  from {
   -webkit-transform: translateY(0.1em);
           transform: translateY(0.1em);
  }
 
  to {
   -webkit-transform: translateY(-0.1em);
           transform: translateY(-0.1em);
  }
 }
 
  
 


/* __________________________________________________________________________________________________________ */
/*_______________________________________________ RESPONSIVE FOR TABLET SECREENS_______________________________ */
/* _____________________________________________________________________________________________________________ */

@media only screen and (max-width: 900px) {
  /* HOMEPAGE--------------------------------------------------------------------------- */
  .homepage {
    margin-top: 30%;
  }

  .hero-pg-text {
    position: relative;
    left: 10%;
    padding-bottom: 5%;
  }

  /* Speakers section */
  .speakers-section {
    height: 60vh;
  }

  /* MAP SECTION */

  .map-registration p {
    position: relative;
    left: 5%;
  }

  .square {
    position: relative;
    left: 10%;
  }
}

/* __________________________________________________________________________________________________________ */
/*_______________________________________________ RESPONSIVE FOR Mobile SECREENS_______________________________ */
/* _____________________________________________________________________________________________________________ */

@media only screen and (max-width: 480px) {
  /* HOMEPAGE */
  .homepage {
    margin-top: 40%;
  }

  .about-section-content p {
    font-size: 0.7rem;
  }

  #map {
    height: 200px;
    width: 200px;
    border-radius: 10px;
  }

  .speakers-section .card{
    padding-left: 6%;
    padding-right: 6%;
    margin-left: 15%;
    margin-right: 15%;

  }

  .speakers-section .card-title{
    padding-bottom: 10%;
  }

  .speakers-section .icons
  {
    padding-top:10%;
  }

  .map-registration p {
    position: relative;
    left: 0;
  }

  .map{
    position: relative;
    left: 9%;
  }
  .square {
    position: relative;
    left: 9%;
  }
  




}