/* __________________________________________________________________________________________________________ */
/*_______________________________________________ RESPONSIVE FOR Mobile SECREENS_______________________________ */
/* _____________________________________________________________________________________________________________ */

@media only screen and (max-width: 480px) {
    body {
      overflow-x: hidden;
    }
  
    
    .navbar-custom button {
      padding: 5px 10px;
    }
  
    .form-holder .form-content {
        padding: 30px;
        }
        
       
  }
  