/* custom----------------------------------------------------- */

/* custom----------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif, Arial;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #121212;
  color: #ffffff;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
}

/* ______________________________________________________ */

/* Navbar------------------------------------------------------- */

.navbar {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.navbar-custom a {
  color: #ffffff !important;
  font-size: 0.9rem;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e62b1e;

  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation:hover {
  color: #ffffff;
}

.navbar-custom button {
  border: 1px solid #e62b1e;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 0.9rem;
  padding: 10px 20px;
}

.navbar-custom button:hover {
  background-color: #e62b1e;
  transition: 0.3s;
}

.btn {
  background-color: transparent;
  border: 0.3px solid #e62b1e;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  color: #e62b1e;
}

.btn::after,
.btn::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: #e62b1e;
}

.btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.btn:hover {
  color: var(--color2);
}

.btn:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

.nav-right-illustration {
  position: absolute;
  right: 0%;
  top: -15.01%;
  transform: rotate(1.99deg);
}

/* illustration01 */
.illustration-left-homepage {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-18%);
  opacity: 1;
}




/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* ___________________________________HOME_PAGE_CONTENT_______________________________________ */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */






.registeration-form-illustration{
  position: absolute;
 opacity:0.9 ;
}

/* Forms------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------- */

.background {
  display: flex;
  min-height: 100vh;
 
}

.containers {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(47, 46, 46, 0) 0%, rgba(50, 50, 50, 0.37) 100%);
/* backdrop-filter: blur(13px); */

}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  /* box-shadow: 0 20px 40px rgba(0, 0, 0, .4); */
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #e62b1e;
}


.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #fff;
  font-size: 1.5rem;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #e62b1e;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #e62b1e;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #e62b1e
}


.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

/* .dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
} */

.footer-section .nav-link {
  color: #ffffff;
  opacity: 0.6;
  font-size: 0.9rem;
}



.footer-section .box-2 .youtube-icon-footer:hover {
  color: #ff0000;
}

.footer-section .box-2 .twitter-icon-footer:hover {
  color: #4267b2;
}

.footer-section .box-2 .instagram-icon-footer:hover {
  color: #bc1888;
}
