/* custom----------------------------------------------------- */

/* custom----------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif, Arial;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #121212;
  color: #ffffff;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
}

/* ______________________________________________________ */

/* Navbar------------------------------------------------------- */

.navbar {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.navbar-custom a {
  color: #ffffff !important;
  font-size: 0.9rem;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e62b1e;

  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation:hover {
  color: #ffffff;
}

.navbar-custom button {
  border: 1px solid #e62b1e;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 0.9rem;
  padding: 10px 20px;
}

.navbar-custom button:hover {
  background-color: #e62b1e;
  transition: 0.3s;
}

.btn {
  background-color: transparent;
  border: 0.3px solid #e62b1e;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  color: #e62b1e;
}

.btn::after,
.btn::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: #e62b1e;
}

.btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.btn:hover {
  color: var(--color2);
}

.btn:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

.nav-right-illustration {
  position: absolute;
  right: 0%;
  top: -15.01%;
  transform: rotate(1.99deg);
}

/* illustration01 */
.illustration-left-homepage {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-18%);
  opacity: 1;
}




/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* ___________________________________HOME_PAGE_CONTENT_______________________________________ */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */








/* Forms------------------------------------------------------------------------------------------- */

.form-body{
margin-top: 10%;  
position: relative;
background: url("Resources/Images/HomePage/Bg-from.jpg");

}

.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  
}

.form-holder .form-content {
position: relative;
text-align: center;
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-justify-content: center;
justify-content: center;
-webkit-align-items: center;
align-items: center;
padding: 60px;
}

.form-content .form-items {
border: 1px solid #fff;
padding: 40px;
display: inline-block;
width: 100%;
min-width: 540px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
text-align: left;
-webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
}

.form-content h3 {
color: #fff;
text-align: left;
font-size: 28px;
font-weight: 600;
margin-bottom: 5px;
}

.form-content h3.form-title {
margin-bottom: 30px;
}

.form-content p {
color: #fff;
text-align: left;
font-size: 17px;
font-weight: 300;
line-height: 20px;
margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
width: 100%;
padding: 9px 20px;
text-align: left;
border: 0;
outline: 0;
border-radius: 6px;
background-color: #fff;
font-size: 15px;
font-weight: 300;
color: #8D8D8D;
-webkit-transition: all 0.3s ease;
transition: all 0.3s ease;
margin-top: 16px;
}


.btn-primary{
background-color: #121212;

outline: none;
border: 1px solid #e62b1e;
 box-shadow: none;
 padding: 10px 30px;
 border-radius: 8px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
background-color: #495056;
outline: none !important;
border: none !important;
 box-shadow: none;
}

.form-content textarea {
position: static !important;
width: 100%;
padding: 8px 20px;
border-radius: 6px;
text-align: left;
background-color: #fff;
border: 0;
font-size: 15px;
font-weight: 300;
color: #8D8D8D;
outline: none;
resize: none;
height: 120px;
-webkit-transition: none;
transition: none;
margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
border: 0;
background-color: #ebeff8;
color: #8D8D8D;
}

.mv-up{
margin-top: -9px !important;
margin-bottom: 8px !important;
}

.invalid-feedback{
color: #ff606e;
}

.valid-feedback{
color: #2acc80;
}





.registeration-form-illustration{
  position: absolute;
  top: 0%;
  left: 8%;
  z-index: -1;
}

