/* custom----------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif, Arial;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #121212;
  color: #ffffff;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
}

/* ______________________________________________________ */

/* Navbar------------------------------------------------------- */

.navbar {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.navbar-custom a {
  color: #ffffff !important;
  font-size: 0.9rem;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e62b1e;

  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation:hover {
  color: #ffffff;
}

.navbar-custom button {
  border: 1px solid #e62b1e;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 0.9rem;
  padding: 10px 30px;
}

.navbar-custom button:hover {
  background-color: #e62b1e;
  transition: 0.3s;
}

.nav-right-illustration {
  position: absolute;
  right: 0%;
  top: -13.01%;
  transform: rotate(1.99deg);
}

/* illustration01 */
.illustration-left-homepage {
  position: absolute;
  left: 0%;
  top: -20%;
  opacity: 1;
  width: 100%;
}

.btn {
  background-color: transparent;
  border: 0.3px solid #e62b1e;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  color: #e62b1e;
}

.btn::after,
.btn::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: #e62b1e;
}

.btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.btn:hover {
  color: var(--color2);
}

.btn:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

.nav-right-illustration {
  position: absolute;
  right: 0%;
  top: -15.01%;
  transform: rotate(1.99deg);
}

/* ----------------------------------------------------------------------------------------------------- */
/*====================================== Header-section =================================================*/
/* ----------------------------------------------------------------------------------------------------- */
.header-section {
  padding-top: 8%;
  padding-left: 5%;
  padding-right: 15%;
}

.header-section {
  background: url("Resources/Images/Discover/Speakers-background.png") no-repeat
    center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.date-header {
  font-size: 1.2rem;
  margin-left: 40%;
}

.header-section p {
  color: #ffffff;
  opacity: 0.6;
  font-size: 0.8rem;
  line-height: 130%;
}

.date {
  visibility: hidden;
}
/* ---------------------------------------------------------------------------------------------------------- */
/* ==============================================     Card             =======================================*/
/* ----------------------------------------------------------------------------------------------------------- */


.heading {
  padding-bottom: 3%;
  
}

.heading h5{
  font-size: 1.8rem;
  font-weight: 400;
}

.heading h1{
  font-size: 3.5rem;
  font-weight: 700;
}


.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}





.card__inner.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
  background: linear-gradient(
    180deg,
    rgba(47, 46, 46, 0.44) 0%,
    rgba(50, 50, 50, 0.11) 100%
  );
  backdrop-filter: blur(13px);
}


.card__face--back {
  background: linear-gradient(
    180deg,
    rgba(47, 46, 46, 0.44) 0%,
    rgba(50, 50, 50, 0.11) 100%
  );
  backdrop-filter: blur(13px);
  transform: rotateY(180deg);
}

.card {
  width: 260px;
  height: 340px;
  perspective: 1000px;
  background: linear-gradient(
    180deg,
    rgba(47, 46, 46, 0.44) 0%,
    rgba(50, 50, 50, 0.11) 100%
  );
  backdrop-filter: blur(13px);
  border-radius: 23px;
}


/* card-text */

.card-text {
  opacity: 0.6;
  font-size: 0.8rem;
}


.card-text-front{
  padding-left: 4%;
  padding-right: 4%;
  opacity: 0.6;
  text-align: center;
  font-size: 0.8rem;
  position: absolute;
  left: 14%;
  top: 275px;
}

.guarng-text{
  position: absolute;
  left: 30%;
}

.uday-text{
  position: absolute;
  left: 30%;
}
.aditi-text{
  position: absolute;
  left: 1%;
}

.pulkit-text{
  position: absolute;
  left: 35%;
}

.anag-text{
  position: absolute;
  left: 25%;
}




.card-title-front {
  position: absolute;
  font-weight: 700;
  text-align: center;
  font-size: 1.3rem;
  bottom: 18%;
  left: 6%;
  margin-left: auto;
  margin-right: auto;
}


.uday-heading{
  position: absolute;
  left: 17%;
}

.aditi-head{
  position: absolute;
  left: 27%;
}

.sudh-heading{
  position: absolute;
  left: 11%;
}

.pulkit-head{
  position: absolute;
  left: 27%;
}

.anag-head{
  position: absolute;
  left: 24%;
}

.card-title-back
{
  font-weight: 600;
  font-size: 1.4rem;
}


.speakers-section .bi {
  font-size: 1rem;
}

.img-card {
  position: absolute;
  top: -5%;
  left: 4%;

}


.pulkit-img{
  position: absolute;
  left: 7%;
}

.Sudha-img{
  position: absolute;
  left: 9%;
}

.card .icon-rotate-btn{
  position: absolute;
  right: 5%;
  top: 2%;
  border-radius: 16px;
  padding: 0px;
  padding: 3px 6px 3px 6px;
  font-size: 0.7rem;
}

.card .bi{

  font-size: 1.2rem;
}

.social-icons{
  position: absolute;
  bottom:8%
}

.card .bi-arrow-repeat{
  font-size: 0.7rem;
}



.card-logo-right{
  position: absolute;
  height: 25%;
  width: 25%;
  bottom: -7%;
  right: 5%;
}

.card a{
  color: #ffffff;
  opacity: 0.9;
  font-size: 0.9rem;
}


/* Icons */

.bi-facebook:hover {
  color: #4267b2;
  transform: scale(1.5);
}

.bi-twitter:hover {
  color: #00acee;
}

.bi-youtube:hover {
  color: #ff0000;
}

.bi-instagram:hover {
  color: #bc1888;
}

.bi-linkedin:hover{
  color: #4267b2;
}



















/* CARDS */

/*  */
/*________________________________________ Sponser________________________________________________________________ */
/* _____________________________________________________%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.sponsers-section {
  margin-top: 10%;
}


.line {
  font-size: 22px;
  font-weight: 400;
  position: relative;
  text-align: center;
}
.line:after {
  content: "";
  border-bottom: 1px solid #e62b1e;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}
.line span {

  padding: 0 20px;
  background-color: #121212;
  position: relative;
}




.sponser-type{
  margin-top: 25%;
font-weight: 700;
font-size: 1.1rem;
padding-bottom: 15%;
}

.col-lg-2{
  opacity: 0.6;
border-right: 1px solid #FFFFFF;
}


.border-col{
  border-right:1px solid #FFFFFF;
  opacity: 0.6;
}

.noborder-left-col{
  border-right: none;
}

.noborder-right-col{
  border-right:none;
}


/* Footer-section */

.illustration-footer {
  opacity: 0.87;
  position: absolute;
}

.footer-section {
  color: #ffffff;
  padding-bottom: 8%;
}

.footer-section h1 {
  font-size: 2.2rem;
}

.footer-section .nav-link {
  color: #ffffff;
  opacity: 0.6;
  font-size: 1rem;
}

.footer-section .box-2 .nav-link {
  display: block;
}


.footer-section .box-2 .youtube-icon-footer:hover {
  color: #ff0000;
}

.footer-section .box-2 .twitter-icon-footer:hover {
  color: #4267b2;
}

.footer-section .box-2 .instagram-icon-footer:hover {
  color: #bc1888;
}

.input-footer input {
  opacity: 0.4;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  background: transparent;
  color: white;
}

.box-3 p{
  opacity: 0.7;
}

/* __________________________________________________________________________________________________________ */

/* ------------------------------------------------------------------------------------------------------------ */
/* ---------------------------------------------RESPONSIVE Tablet---------------------------------------------------- */

/* ______________________________________________________________________________________________________________ */

@media only screen and (max-width: 900px) {
  .date {
    visibility: hidden;
  }
  .section-1 p {
    font-size: 0.7rem;
  }

  .date-header {
    font-size: 2rem;
  }
}




/* __________________________________________________________________________________________________________ */

/* ------------------------------------------------------------------------------------------------------------ */
/* ---------------------------------------------RESPONSIVE Mobile---------------------------------------------------- */

/* ______________________________________________________________________________________________________________ */







@media only screen and (max-width: 480px) {
  .box-1 {
    margin-top: 10%;
  }

  .section-1 img {
    position: relative;
    left: 10%;
  }
  .section-1 p {
    font-size: 0.6rem;
    margin-left: 10%;
  }

  .date-header {
    visibility: hidden;
  }

  .date {
    visibility: visible;
    margin-top: -30%;
    margin-bottom: 40%;
  }

  .card {
    margin-left: 10%;
    margin-right: 10%;
  }

  .card-title {
    font-weight: 700;
    padding-bottom: 10%;
  }

  .card-text {
    opacity: 0.6;
    font-size: 0.8rem;
  }
}





/* ---------------------------------------------------------------------------------------------------- */
/* --------------------------------------------FOOTER -------------------------------------------------*/
/* ____________________________________________________________________________________________________ */

.footer-section {
  color: #ffffff;
  padding-bottom: 8%;
  background: #000000;
}

.footer-section h1 {
  font-size: 2.2rem;
}

.footer-section .nav-link {
  color: #ffffff;
  opacity: 0.6;
  font-size: 0.9rem;
}

.footer-section .box-2 .nav-link {
  display: block;
}

.footer-section .box-2 .facebook-icon-footer:hover {
  color: #4267b2;
}

.footer-section .box-2 .youtube-icon-footer:hover {
  color: #ff0000;
}

.footer-section .box-2 .twitter-icon-footer:hover {
  color:  #4267b2;;
}

.footer-section .box-2 .instagram-icon-footer:hover {
  color: #bc1888;
}

.input-footer input {
  opacity: 0.4;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  background: transparent;
  color: white;
}

.box-3 .btn-footer {
  border: 1px solid #e62b1e;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 0.9rem;
  background-color: #e62b1e;
  display: block;
  color: white;
}

.describe {
  width: 100%;
  padding-bottom: 5%;
}

button {
  border-radius: 8px;
  font-family: inherit;
  font-size: 0.9rem;
  background: #e62b1e;
  color: white;
  padding: 0.5em 1em;
  padding-left: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

button span {
  display: block;
  margin-left: 0.3em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  -webkit-animation: fly-1 0.6s ease-in-out infinite alternate;
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  -webkit-transform: translateX(1.2em) rotate(45deg) scale(1.1);
  -ms-transform: translateX(1.2em) rotate(45deg) scale(1.1);
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  -webkit-transform: translateX(5em);
  -ms-transform: translateX(5em);
  transform: translateX(5em);
}

button:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

@-webkit-keyframes fly-1 {
  from {
    -webkit-transform: translateY(0.1em);
    transform: translateY(0.1em);
  }

  to {
    -webkit-transform: translateY(-0.1em);
    transform: translateY(-0.1em);
  }
}

@keyframes fly-1 {
  from {
    -webkit-transform: translateY(0.1em);
    transform: translateY(0.1em);
  }

  to {
    -webkit-transform: translateY(-0.1em);
    transform: translateY(-0.1em);
  }
}
