/* custom----------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif, Arial;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  height: 200vh;
  color: #ffffff;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}

/* ______________________________________________________ */

/* Navbar------------------------------------------------------- */

.navbar {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.navbar-custom a {
  color: #ffffff !important;
  font-size: 0.9rem;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e62b1e;

  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation:hover {
  color: #ffffff;
}

.navbar-custom button {
  border: 1px solid #e62b1e;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 0.9rem;
}

.navbar-custom button:hover {
  background-color: #e62b1e;
  transition: 0.3s;
}

.nav-right-illustration {
  position: absolute;
  right: 0%;
  top: -13.01%;
}

/* illustration01 */
.illustration-left-homepage {
  position: absolute;
left: -16.69%;
right: -20.97%;
top: -10.16%;
bottom: 98.19%;
transform: rotate(-10deg);

}

/* ___________________________________________________________________________________ */
/* _______________________________MEET THE TEAM__________________________________ */
/* ___________________________________________________________________________________ */


.Team .heading {
  font-weight: 700;
}


/* CARD_________________________ */

/* ***************************************************************************************** */
/*___________________________________________________ CAROSUEL_____________________________________________ */
/* ************************************************************************************************ */
.card {
  
    margin-top: 30%;
  background: linear-gradient(  180deg,  rgba(47, 46, 46, 0.44) 0%,  rgba(50, 50, 50, 0.11) 100%);
  backdrop-filter: blur(13px);
  border-radius: 23px;
}


.img-top{
  width: 120px!important;
  height: 120px;
  position: absolute;
  bottom:120px;
  left: 8%;

}

.card{
  padding-top: 25%;
  margin-left:3%;
  margin-right: 3%;
  padding-bottom: 3%;
}

.card-text{
  margin-top: -10px;
  font-size: 0.9rem;
}


.urlhasher a{
  font-size: 0.8rem;
  font-weight: 700;
}






/*________________________________________________________________________________________ Team Carosual */
/* _____________________________________________________________________________________________________ */
/* ___________________________________________________________________________________________________ */

/* Tr Job Post */

.job-item {
  background-color: #fff;
}

.job-tab .nav-tabs {
margin-bottom: 60px;
border-bottom: 0;
}

.job-tab .nav-tabs>li {
float: none;
display: inline;
}

.job-tab .nav-tabs li {
margin-right: 15px;
}

.job-tab .nav-tabs li:last-child {
margin-right: 0;
}

.job-tab .nav-tabs {
position: relative;
z-index: 1;
display: inline-block;
}

.job-tab .nav-tabs:after {
position: absolute;
content: "";
top: 50%;
left: 0;
width: 100%;
height: 1px;
background-color: #fff;
z-index: -1;
}



.job-tab .nav-tabs>li a {
display: inline-block;
background-color: #fff;
border: none;
border-radius: 30px;
font-size: 14px;
color: #000;
padding: 5px 30px;
}

.job-tab .nav-tabs>li>a.active, 
.job-tab .nav-tabs>li a.active>:focus, 
.job-tab .nav-tabs>li>a.active:hover,
.job-tab .nav-tabs>li>a:hover {
border: none;
background-color: #008def;
color: #fff;
}

.job-item {
border-radius: 3px;
position: relative;
margin-bottom: 30px;
z-index: 1;
}

.job-item .btn.btn-primary {
text-transform: capitalize;
}

.job-item .job-info {
font-size: 14px;
color: #000;
overflow: hidden;
padding: 40px 25px 20px;
}

.job-info .company-logo {
margin-bottom: 30px;
}

.job-info .tr-title {
margin-bottom: 15px;
}

.job-info .tr-title span {
font-size: 14px;
display: block;
}

.job-info .tr-title a {
color: #000;
}

.job-info .tr-title a:hover {
color: #008def;
}

.job-info ul {
margin-bottom: 30px;
}

.job-meta li,
.job-meta li a {
color: #646464;	
}

.job-meta li a:hover {
color: #008def;
}

.job-meta li {
font-size: 12px;
margin-bottom: 10px;
}

.job-meta li span i {
color: #000;
}

.job-meta li i {
margin-right: 15px;
}

.job-item .time {
position: relative;
}

.job-item .time:after {
position: absolute;
content: "";
bottom: 35px;
left: -50px;
width: 150%;
height: 1px;
background-color: #f5f4f5;
z-index: -1;
}

.job-item:hover .time,
.job-item:hover .time:after {
opacity: 0;
}

.job-item .time span {
font-size: 12px;
color: #bebebe;
line-height: 25px;
}

.job-item .btn.btn-primary,
.role .btn.btn-primary,
.job-item .time a span {
padding: 5px 10px;
  border-radius: 4px;
  line-height: 10px;
  font-size: 12px;
}

.job-item .time a span {
color: #fff;
  background-color: #f1592a;
  border-color: #f1592a;	
}

.job-item .time a span.part-time {
background-color: #00aeef;
border-color: #00aeef;
}

.job-item .time a span.freelance {
background-color: #92278f;
border-color: #92278f;	
}

.job-item .item-overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: 5px;
background-color: #008def;
color: #fff;
opacity: 0;
-webkit-transition: all 800ms;
-moz-transition: all 800ms;
-ms-transition: all 800ms;
-o-transition: all 800ms;
transition: all 800ms;
}

.job-item:hover .item-overlay {
opacity: 1;
}

.item-overlay .job-info {
padding: 45px 25px 40px;
overflow: hidden;
}

.item-overlay .btn.btn-primary {
background-color: #007bd4;
border-color: #007bd4;
margin-bottom: 10px;
}

.item-overlay .job-info,
.item-overlay .job-info ul li,
.item-overlay .job-info ul li i,
.item-overlay .job-info .tr-title a {
color: #fff;
}

.job-social {
margin-top: 35px;
}

.job-social li {
float: left;
}

.job-social li + li {
margin-left: 15px;
}

.job-social li a i {
margin-right: 0;
font-size: 14px;
}

.job-social li a {
width: 35px;
height: 35px;
text-align: center;
display: block;
background-color: #007bd4;
line-height: 35px;
border-radius: 100%;
border: 1px solid #007bd4;
position: relative;
overflow: hidden;
z-index: 1;
}

.job-social li:last-child a {
background-color: #fff;
}

.job-social li:last-child a i {
color: #008def;
}

.job-social li a:before {
position: absolute;
content: "";
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: -1;
border-radius: 100%;
background-color:#008def;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);	
}

.job-social li a:hover:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  padding: 5px;
}

.job-social li a:hover {
border-color: #fff;
}

.job-social li a:hover i {
color: #fff;
}

.tr-list {
  margin: 0;
  padding: 0;
  list-style: none;
}











/*  */
/*________________________________________ Sponser________________________________________________________________ */
/* _____________________________________________________%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.sponsers-section {
  margin-top: 10%;
}

.sponsers-section h1 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e62b1e;
  line-height: 0.1em;
  margin: 10px 0 20px;
  color: #ffffff;
  font-weight: 300;
  font-size: 1.5rem;

  opacity: 0.6;
}

.sponsers-section h1 span {
  background: #e62b1e;
  padding: 0 10px;
}

/*________________________________________ FOOTER________________________________________________________________ */
/* _____________________________________________________%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

/* Footer-section */

.illustration-footer {
  opacity: 0.87;
  position: absolute;
}

.footer-section {
  color: #ffffff;
  padding-bottom: 8%;
  background: #000000;
}

.footer-section h1 {
  font-size: 2.2rem;
}

.footer-section .nav-link {
  color: #ffffff;
  opacity: 0.6;
  font-size: 0.9rem;
}

.footer-section .box-2 .nav-link {
  display: block;
}

.footer-section .box-2 .facebook-icon-footer:hover {
  color: #4267b2;
}

.footer-section .box-2 .youtube-icon-footer:hover {
  color: #ff0000;
}

.footer-section .box-2 .twitter-icon-footer:hover {
  color: #00acee;
}

.footer-section .box-2 .instagram-icon-footer:hover {
  color: #bc1888;
}

.input-footer input {
  opacity: 0.4;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  background: transparent;
  color: white;
}

.box-3 .btn-footer {
  border: 1px solid #e62b1e;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 0.9rem;
  background-color: #e62b1e;
  display: block;
  color: white;
}
