/* __________________________________________________________________________________________________________ */
/*_______________________________________________ RESPONSIVE FOR Mobile SECREENS_______________________________ */
/* _____________________________________________________________________________________________________________ */

@media only screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }

  .heading{
   text-align: center;
    }
    
  
  .navbar-custom button {
    padding: 5px 10px;
  }


  .col-md-6{
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 8%;
  }
  

  .sponsor-row{
    margin-top: 15%;
  }


  .sponsor-name{
    font-size: 2rem;
    text-align: center;
  }
  
  
  .sponsor-type{
    text-align: center;
    font-size: 1rem;

  }

  .amd-logo{
    padding-left: 20%;
  }

  .blu-logo{
    padding-left: 25%;
  }

  .enfiled-logo{
    padding-left: 22%;
  }

  .sandesh-logo{
    padding-left: 25%;
  }

  .box-3{
    padding-top: 10%;
  }
}